.ipynb_checkpoints
.vscode/
.idea/
.venv/
.DS_Store
Manifest.toml
/docs/build/
__pycache__/

# gfx
*.png
*.jpg
*.gif
*.mp4
*.svg
*.pdf
*.ogv

# data file
*.dat
*.txt
!requirements.txt
*.log
*.json
*.npy

# paraview
*.vti
*.pvd
*.npz

# exceptions
!test/resources/
!/resources/
